{% for t in object_list %}
<div class="sm-card" {% if forloop.last and page_obj.has_next %}
    hx-get="{% url 'frontend:index' %}?page={{ page_obj.number|add:1 }}" hx-trigger="revealed" hx-swap="afterend"
    hx-target="this" {% endif %}>
    <a href="{% url 'frontend:detail' tvshow=t.pk %}">
        <img src="{{ t.cover_url }}" class="sm-card-poster" alt="{{ t.title }}">
        <div class="sm-card-badge">S{{ t.season }} / E{{ t.episode }}</div>
        <div class="sm-card-info">
            <h3 class="sm-card-title">{{ t.title }}</h3>
            <div class="sm-card-date">
                <i class="bi bi-calendar-date"></i> {{ t.last_seen|date:"DATE_FORMAT" }}
            </div>
        </div>
    </a>
    <a class="sm-card-episode-btn" href="{% url 'frontend:inc-episode' tvshow=t.pk %}">
        <i class="bi bi-skip-forward-fill"></i>
    </a>
</div>
{% endfor %}
