{% extends "base.html" %}

{% load bootstrap5 %}

{% block content %}
<div class="sm-add-hero">
    <a class="sm-detail-back-btn" href="{% url 'frontend:index' %}">
        <i class="bi bi-arrow-left"></i>
    </a>
    <h1>Add a new show</h1>
    <p>Search TMDB to find and import a TV show</p>
</div>
<div class="sm-add-search">
    <input type="text"
        hx-post="{% url 'frontend:htmx-search-tmdb-for-add' %}" hx-target="#results"
        hx-trigger="keyup changed delay:500ms" name="search"
        placeholder="Search for a TV show..." autocomplete="off" autocorrect="off" autocapitalize="off"
        spellcheck="false" />
</div>
<div id="results"></div>
{% endblock %}
